.confirmation-container {
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.confirmation-icon {
  width: 50px;
  height: 50px;
}

.confirmation-message {
  font-size: 24px;
  color: #28a745; 
}

.confirmation-details {
  margin-top: 15px;
  font-size: 18px;
  color: #555;
}

.confirmation-details p {
  margin: 5px 0;
}
