.hero-section {
   background: linear-gradient(
    to bottom,
    #495E57 90%,
    #ffffff 10%
  );
  padding: 2rem 6rem;
  color: white;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.hero-container {
  max-width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
 }

.hero-text {
  max-width: 45%;
  min-width: 300px;
  padding-left: 7%;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: #f4ce14;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 600;
  color: #eeeeee;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 420px;
}

.reserve-button {
  display: inline-block;
  background-color: #f4ce14;
  color: black;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.reserve-button:hover {
  background-color: #b19702;
}

/* Image container */
.hero-image-container {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  display: inline-block;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}