.order-section {
  padding: 3rem 6rem;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  font-family: Arial, sans-serif;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.order-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.online-menu-btn {
  background-color: #f4ce14;
  color: black;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.3s ease;
}

.online-menu-btn:hover {
  background-color: #e6c200;
}

.specials-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-card {
  background-color: #f1f1f1;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1 1 calc(33.333% - 1.33rem);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 280px;
}

.special-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.special-info {
  padding: 1rem 1.25rem 2rem 1.25rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.special-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
  display: inline-block;
}
.order-delivery-btn {
  background-color: #495E57;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  align-self: center;
  transition: background-color 0.3s ease;
}

.order-delivery-btn:hover {
  background-color: #e6c200;
  color: #000;
}

.special-price {
  font-weight: 700;
  font-size: 1.25rem;
  color: #db9f82;
  margin-left: auto;
}

.special-info > .special-title,
.special-info > .special-price {
  display: inline-block;
}

.special-description {
  font-style: italic;
  color: #6b6b6b;
  margin-top: 0.75rem;
  font-size: 1rem;
  flex-grow: 1;
}

/* Responsive */
@media (max-width: 900px) {
  .order-section {
    margin-top: 1.2rem;
  }
  .specials-container {
    flex-direction: column;
    gap: 2rem;
  }
  .special-card {
    max-width: 100%;
    flex-basis: auto;
  }
}
